h1 {
  font-size: 40px;
  border-bottom: 3px solid #CCC;
  padding-bottom: 5px;
}

h2 {
  font-size: 25px;
  margin: 10px 0 2px;
}

h2 a, h2 a:visited {
  color: #379;
  text-decoration: none;
}

p.date {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

p.resumo {
  color: #444;
  font-size: 12px;
}
