<h1><%= link_to('editais', admin_editais_url) %> / <%= link_to @edital.nome, admin_edital_url(@edital) %> / alterar arquivo</h1>

<%= render 'form' %>

<%= link_to t('navigation.back') + ' para edital', admin_edital_path(@edital) %>
