dt {
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

table {
  margin-bottom: 5px;
}

table th, table td {
  border: 1px solid #555;
  padding: 8px 5px;
}

table td {
  border-bottom: 1px solid #777;
  font-size: 12px;
}

table th {
  background-color: #EEE;
  border-bottom: 2px solid #555;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.total {
  font-weight: bold;
  text-align: right;
}

.quantidade {
  text-align: right;
}

.cnpj {
  width: 130px;
}

.razao_social {
  width: 325px;
}

.email {
  width: 240px;
}
#resumo_downloads .nome_do_arquivo {
  width: 85%;
}
