dt {
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

.total {
  font-weight: bold;
  text-align: right;
}

.quantidade {
  text-align: right;
}

.cnpj {
  width: 130px;
}

.razao_social {
  width: 325px;
}

.email {
  width: 240px;
}
#resumo_downloads .nome_do_arquivo {
  width: 85%;
}
