h1#title {
  line-height: 40px;
}

h2#subtitle {
  color: #D1D1D1;
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  margin: 0;
}

#resumo {
  line-height: 21px;
}
#sidebar {
  border-left: 1px solid #CCC;
  padding-left: 30px;
}

#sidebar h3 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 1px;
}

#sidebar .date {
  display: block;
  margin-bottom: 10px;
}

#files {
  margin: 0;
  padding: 0;
}

#files-title {
  border-bottom: 3px solid #DDD;
  padding-bottom: 5px;
}

#files .image-box {
  float: left;
  width: 25px;
  padding-top: 6px;
}

#files li {
  padding: 5px 0 5px 5px;
  border-bottom: 1px solid #EEE;
}

#files a {
  border: 0;
  color: #379;
}

#files .date {
  font-size: 10px;
  margin: 0;
}

