#titulo {
  line-height: 40px;
}

h2#subtitulo {
  color: #D1D1D1;
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  margin: 0;
}

#palavras-chave {
  color: #555;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

#palavras-chave-label {
  color: #777;
}

#resumo {
  line-height: 21px;
  margin-top: 20px;
}

#resumo * {
  color: #333 !important;
}

#resumo table {
  border-collapse: collapse;
}

#resumo table td, #resumo table th {
  border: 1px solid black;
  padding: 5px;
}

#sidebar h3 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 1px;
}

#sidebar .date {
  display: block;
  margin-bottom: 10px;
}

#files {
  margin: 0;
  padding: 0;
}

#files-title {
  border-bottom: 3px solid #DDD;
  padding-bottom: 5px;
}

#files .image-box {
  float: left;
  width: 25px;
  padding-top: 6px;
}

#files li {
  padding: 5px 0 5px 5px;
  border-bottom: 1px solid #E4E4E4;
}

#files a {
  border: 0;
  color: #379;
}

#files .date {
  font-size: 10px;
  margin: 0;
}

