<h1> <%= link_to 'Editais', admin_editais_url %> / <%= link_to @edital.nome, admin_edital_url(@edital) %> / editar </h1>

<%= render 'form' %>

<%= link_to t('navigation.back') + ' para edital', admin_edital_path(@edital) %>
