<%= content_for :top_sidebar do %>
  <% if current_empresa %>
    <div id="login_cnpj">
      <span id="acessando_como">Você está acessando como:</span>
      <span id="empresa_atual"><%= current_empresa.cnpj %></span>
    </div>
  <% end %>
<% end %>
<%= render :template => 'layouts/base' %>
